.timeline-center {
    width: 1000px;
    margin: 0 auto;
    padding-top: 50px;
}
.timeline-title {
    color: rgba(122, 122, 122, 0.795);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    text-align: center;
}